<launch>
<!-- differential_teleop_key already has its own built in velocity
smoother -->
<node pkg="agb_2bot_pk" type="agb_2bot_pk_key" name="agb_2bot_pk_key" output="screen" launch-prefix="xterm -e">
<param name="scale_linear" value="0.5" type="double"/>
<param name="scale_angular" value="1.5" type="double"/>
<remap from="/cmd_vel" to="/AGB_Robot/diff_drive_controller/cmd_vel"/>
</node>
</launch>
